*{
    margin: 0;
    padding: 0;
}
.cabecalho{
    background-color: aquamarine;
    color: crimson
    font-size:10px
    display: flex;
    justify-content: baseline;
}
.cabecalho-imagem{
    width: 10%;
    height: 10%;